/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #eceef1;
  font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: rgb(0, 119, 197);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Nav */
nav {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#nav-section {
  margin-top: 8px;
  margin-right: 26px;
  float: right;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

#sign-in {
  background-color: rgb(0, 119, 197);
  border: 1px solid rgb(76, 76, 76);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13.5px;
  color: white;
  margin-right: 4px;
  margin-top: 2px;
  margin-left: 9px;
  font-weight: 300;
}

#already {
  color: rgb(80, 80, 80);
}

.fa-lock {
  margin-right: 3px;
}

/* Header */
header {
  background-image: url('https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new@2x-c3299475.png');
  background-size: 562px 83px;
  display: block;
  width: 118px;
  height: 35px;
  margin: 0 auto;
  margin-top: 85px;
}

#logos {
  margin: 0 auto;
  width: max-content;
  margin-top: 20px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  list-style-image: none;
}

li.logos-li {
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
}

/* Form */
#form-div {
  margin: 0 auto;
  width: 380px;
  height: 667px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

#form-header {
  color: #4c4c4c;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  display: block;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

#form-subheader {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.subheader-text {
  text-align: center;
  display: block;
}

#learn-more {
  display: block;
  text-align: center;
}
.subheader-link {
  font-size: 12px;
}

.input-div {
  width: 320px;
  min-width: 160px;
  height: 34px;
  position: relative;
}

form {
  margin-top: 20px;
  margin-left: 30px;
}

input {
  height: 34px;
  width: 320px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
  border: 1px solid #c1c5c8;
  color: #000000;
  outline: none;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.3em;
}

label {
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 6px;
  display: block;
}

fieldset {
  margin-bottom: 30px;
}

input:focus {
  border: 1px solid #52a8ec;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

#phone-subtext {
  display: block;
  min-height: 20px;
  padding: 5px 0;
  font-size: 10px;
  color: #444;
}

#password-fieldtext {
  margin-top: -15px;
}

#lock-open {
  position: absolute;
  right: -5px;
  height: 32px;
  top: 8px;
  width: 33px;
  color: gray;
}

#create-account-button {
  background: #0077c5;
  border: none;
  border-color: #0077c5;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  text-shadow: none;
  width: 320px;
  height: 44px;
  font-size: 15.75px;
  font-weight: 400;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
}

.lock {
  margin-right: 5px;
}

#form-subtext {
  margin-top: 45px;
  font-size: 12px;
  font-style: italic;
  color: #757575;
  line-height: 21px;
}

.form-subtext-span {
  display: block;
  text-align: center;
}

#form-footer {
  background-color: rgb(236, 238, 241);
  position: relative;
  bottom: -26px;
  font-size: 10px;
  line-height: 15px;
  padding: 16px;
  text-align: center;
  color: rgb(141, 144, 150);
}

/* Footer */
span.footer-link a {
  display: inline-block;
  color: rgb(0, 119, 197);
  font-family: AvenirNext, Avenir, 'Helvetica Neue', Helvetica,
    'Arial sans-serif';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 10px;
}

span.footer-link a:link,
span.footer-link a:visited {
  color: rgb(0, 119, 197);
}

span.footer-link a:hover {
  text-decoration: underline;
}
#footer-links {
  margin: 0 auto;
  width: max-content;
  margin-top: 25px;
}

.footer-text {
  display: block;
  color: rgb(80, 80, 80);
  font-family: AvenirNext, Avenir, 'Helvetica Neue', Helvetica,
    'Arial sans-serif';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

footer {
  margin-bottom: 20px;
}
